.header-logo {
    display: flex;
    align-items: center;
    align-self: stretch;
    background-color: #56b365;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__item-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        fill: var(--color-primary-dark);
        position: relative;
        margin-top: 20px;
    }


     &__logo-item {
        height: 3rem;
        width: 3rem;
    }

    
}

.search {
    font-size: 1.5rem;
    display: flex;
    flex: 0 0 40%;

    align-items: center;
    justify-content: center;
    &__input {
        font-family: inherit; 
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 75px;
        width: 90%;
        transition: all .2s;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);

            &:focus {
                outline: none;
            }

            &:active {
                transform: translateY(4px);
            }

            &::-webkit-input-placeholder {
                font-weight: 100;
                color: var(--color-grey-light-4);
            }
        }

    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        margin-right: -3.5rem;
    }

    &__icon {
        height: 3rem;
        width: 2rem;
    }
}


.user-nav {
    background-color: rgb(86, 179, 101);

    display: flex;
    align-items: center;
    align-self: stretch;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
           }
    & > *:hover {
        padding: 0 2rem;
        cursor: pointer;
        background-color: var(--color-grey-light-2);
    }
    
    &__icon-box {
        display: flex;
        align-items: top;
        fill: var(--color-grey-light-2);
        position: relative;
    }

    &__icon {
        height: 3rem;
        width: 3rem;
    }

    &__user-photo {
        height: 4rem;
        border-radius: 40%;
    }
    
    &__user-name {

    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary-dark);
        color: #fff;
        // position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.side-nav {
    font-size: 2.25rem;
    list-style: none;
    margin-top: 3rem;

    &__item {
        position: relative;
    }
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary-dark);
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 1rem;
        fill: currentColor;
        position: relative;
        z-index: 11;

        display: flex;
        align-items: center;

    }

    &__icon {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;

    }
}